.khan__quote {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
  color: #000;
  margin-bottom: 36px;
  margin-top: 0;
  margin-left: 0;
  width: 790px;
}
