.footer__column-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
  transition: opacity .2s ease;
}

.footer__column-link:hover {
  opacity: .5;
}
