.khan__buy-link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.42;
  text-align: right;
  color: #2F80ED;
  text-decoration: none;
  transition: opacity 0.2s ease;
}


.khan__buy-link:hover {
  opacity: .5;
}
